/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-feb-2018, 10:02:43
    Author     : DAW
*/
.fondo-blanco {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.body-login {
  background-image: url("../img/imagendefondo.jpg");
}
.body-abrir {
  background-image: url("../img/fondoAperturaCuentas.jpg");
}
.body-ingrei {
  background-image: url("../img/ingresosReintegros.jpg");
}
.body-listar {
  background-image: url("../img/fondoListado.jpg");
}
.body-borrar {
  background-image: url("../img/fondoBorrarCuenta.jpg");
}
.body-eleccion {
  background-image: url("../img/fondoEleccion.jpg");
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 50px;
}
.offset-mio-alto {
  margin-top: 17.5px;
}
.offset-mio-1 {
  margin-left: 15px;
  margin-top: 10px;
}
.contenedor-botones-eleccion {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 120px;
  height: auto;
}
.boton-cerrar-sesion {
  margin-top: 6px;
}
.input-solo {
  height: auto !important;
}
.dropdown-eleccion {
  margin-top: 6px;
}
.contenedor-formulario {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 120px;
}
.contenedor-meter-dinero {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 120px;
  height: 425px;
  display: none;
  margin-top: 40px;
}
.contenedor-sacar-dinero {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 120px;
  height: 425px;
  display: none;
  margin-top: 40px;
}
.input-escribir {
  height: 60px;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
}
.input-segundo-titular {
  height: 60px;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}
.div-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.contenido-modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.contenido-modal-cliente-cuenta {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-top: 3%;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
#segundoTitulardiv,
#datos,
#datosCuenta {
  display: none;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 120px;
  margin-top: 0;
}
#segundoTitulardiv {
  height: auto;
}
.flotado-izquierda {
  float: left;
}
.div-datos-cuenta-cliente {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.flotado-derecha {
  float: right;
}
.modal-cuenta {
  height: auto !important;
}
.modal-clientes {
  height: auto !important;
}
@media only screen and (max-width: 822px) {
  .dropdown-eleccion {
    margin-left: 58.333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .dropdown-eleccion {
    margin-left: 48.3333333333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 100%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 519px) {
  .dropdown-eleccion {
    margin-left: 45.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 110%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 489px) {
  .dropdown-eleccion {
    margin-left: 40.333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 120%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 455px) {
  .dropdown-eleccion {
    margin-left: 38.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 130%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 430px) {
  .dropdown-eleccion {
    margin-left: 34.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 140%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 402px) {
  .dropdown-eleccion {
    margin-left: 29.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 150%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 371px) {
  .dropdown-eleccion {
    margin-left: 24.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 160%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 345px) {
  .dropdown-eleccion {
    margin-left: 20.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 170%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 326px) {
  .dropdown-eleccion {
    margin-left: 13.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 185%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 297px) {
  .dropdown-eleccion {
    margin-left: 8.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 185%;
  }
  .contenedor-sacar-dinero {
    height: auto;
  }
}
@media only screen and (max-width: 279px) {
  .dropdown-eleccion {
    margin-left: 3.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 185%;
  }
  .contenedor-sacar-dinero {
    height: auto;
    width: 150px;
  }
}
@media only screen and (max-width: 266px) {
  .dropdown-eleccion {
    margin-left: 1.3333333%;
  }
  .segundoTitutlar {
    margin: 0;
  }
  #segundoTitulardiv {
    width: 185%;
  }
  .contenedor-sacar-dinero {
    height: auto;
    width: 150px;
  }
}
/*# sourceMappingURL=estilos.css.map */